@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/fonts/Fontspring-DEMO-proximanova-regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/fonts/Fontspring-DEMO-proximanovaexcn-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/fonts/Fontspring-DEMO-proximanova-semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'Proxima Nova', Arial, sans-serif !important;
}