// Colors
$orange: #F15D22;
$dark-blue: #013453;
$gray: #878787;
$light-gray: #989C9F;
$orange-dark: #EC4315;

/*Bg Color*/

$text-white: #FFFFFF;
$text-secondary: #737373;
$text-turnary: #5E5E5E;
$text-red: #FF0000;
$text-success: #16A34A;
$text-gray: #7F8486;
$text-dark-gray: #18191A;



/*Bg Color*/
$bg-white: #FFFFFF;
$bg-secondary: #F1F1F1;
$bg-black: #000000;
$bg-white: #FFFFFF;
$bg-turnary: #E5E5E5;
$bg-green: #16A34A;
$bg-cart1: #A9A59A;
$bg-cart2: #AE8C2E;
$bg-gray: #EEEEEE;



/*border Color*/

$border-primary: #F1F1F1;
$border-secondary: #989C9F;
$border-table: #616B71;
$border-divider: #EEEEEE;


// Fonts
$font-primary: 'Proxima Nova', Arial, sans-serif;


$box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.15);