.section-main-inner {
    padding: 60px 20px !important;
    max-width: 1170px;

    @media(max-width: 767px) {
        padding: 24px !important;
    }

    .form {
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @media(max-width: 767px) {
            padding: 16px;
            gap: 16px;
        }

        .map-img {
            width: 100%;
            max-width: 375px;

            @media(max-width: 767px) {
                height: 250px;
            }
        }

        input {
            color: $text-secondary !important;
            padding: 9.3px 20px;

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 1000px #fff inset !important; // change to your bg
                -webkit-text-fill-color: #000 !important; // text color
                transition: background-color 9999s ease-in-out 0s;
            }

            @media(max-width: 767px) {
                padding: 6px 16px;
            }

            &[type="date"] {
                width: 100%;
                /* Space for icon */
                background-image: url("../images/calendar-icon.svg");
                /* Your custom icon */
                background-repeat: no-repeat;
                background-size: 24px;
                background-position: right 12px center;

                /* Remove default appearance */
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;


                &::-webkit-calendar-picker-indicator {
                    opacity: 0;
                    display: none;
                }
            }

        }

        select {
            color: $text-secondary !important;
            padding: 9.3px 20px !important;

            @media(max-width: 767px) {
                padding: 6px 16px;
            }
        }

        .form-check-input {
            cursor: pointer;
            width: 26px;
            height: 26px;
            padding: 0px !important;
            margin-top: 0;
            border: 2px solid $dark-blue;
            border-radius: 3px;

            &:checked[type=checkbox] {
                background-color: $dark-blue;
                box-shadow: none;
                outline: none;
            }

            &:focus {
                box-shadow: none;
                outline: none;
            }
        }

        .no-resize {
            resize: none;
            max-height: calc(1.5em * 4);
            overflow-y: auto;
        }

    }
}