.sa-banner-section {
    background-color: $dark-blue;

    .sa-banner-inner {
        position: relative;
        padding: 82px 0px !important;

        @media(max-width: 767px) {
            padding: 50px 24px !important;
        }

        h1 {
            line-height: 52px;

            @media(max-width: 767px) {
                line-height: 40px;
            }
        }
    }
}

.enquiry-bg-img {
    height: 357px;

    &::before {
        content: "";
        background: url('../images/enquiry-banner-bg-img.svg') no-repeat left bottom;
        background-size: 100% 100%;
        width: 896px;
        height: 357px;
        position: absolute;
        left: 0;

        @media(max-width: 992px) {
            width: 100%;
        }


    }
}