.sa-banner-section {
    background-color: $dark-blue;

    .sa-banner-inner {
        position: relative;
        padding: 82px 0px !important;

        @media(max-width: 767px) {
            padding: 50px 24px !important;
        }

        h1 {
            line-height: 52px;

            @media(max-width: 767px) {
                line-height: 40px;
            }
        }
    }
}